
/* == Animations == */
@keyframes twitter_anim
{
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg);}
}

h1, p
{
    color: deepskyblue;
}
/* Couleurs des paragraphes */
h1
{
    font-size: 2.6em;
}

/* Tailles des paragraphes */
p
{
    font-size: 1.1em;
    opacity: 0.6;
}

/* Décoration, mise en page des textes et des fonds */

*
{
    font-family: "Source Sans Pro";
    text-align: center;
}

body
{
    background-color: black; /* Le fond de la page sera noir */
}

.menu
{
    display: flex;
    justify-content: space-between;
}

.twitter_icon
{
    filter: brightness(0) invert(1);
}

.twitter_icon:hover
{
    animation-name: twitter_anim;
    animation-duration: 4s;
}