
/* == Animations == */
@keyframes twitter_anim
{
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg);}
}

*
{
    outline: none;
    text-decoration: none;
    justify-content: space-between;
    font-family: "Source Sans Pro";
    list-style: none;
}

body
{
    background-color: black;
    margin: 0;
    position: relative;
}

p
{
    color: deepskyblue;
    font-weight: 600;
}

@media (min-width: 768px) {
    .header-menu {
        padding: 0 20vw 0 20vw;
    }
}

/* For small screens */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .header-menu {
        padding: 0 5vw 0 5vw;
    }
}

header
{
    display: flex;
    align-items: center;
    height: 70px;
}

nav li
{
    display: inline;
}

footer
{
    text-align: center;
}

.icon
{
    filter: brightness(0) invert(1);
}

.icon:hover
{
    animation-name: twitter_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.facebook:hover
{
    animation-name: twitter_anim;animation-duration: 2s;animation-iteration-count: infinite;animation-direction: alternate;
}

input
{
    text-align: center;
    border: 1px solid black;
    height: 20px;
    width: 150px;
}

input:focus
{
    border: 1px solid deepskyblue;
    outline: none;
    box-shadow: 0px 0px 30px 2px #1c70dd;
}

.submit
{
    border-radius: 2px;
    background-color: deepskyblue;
    transition-duration: 0.4s;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 23px;
    width: 100px;
    color: white;
}

.submit:hover
{
    background-color: white;
    color: black;
}

#root
{
    /*sticky footer*/
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

a 
{
    transition-duration: 0.4s;
    color: deepskyblue;
}

a:hover
{
    color: white;
}

.forgot
{
    margin: 20px;
}

.style
{
    text-align: center;
}

.last-upload
{
    text-align: center;
}

.wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}